@page "/Users"
@using TimeSheetApp.Shared.Entities;
@inject HttpClient Http

<h3>All User List</h3>
@if (AllUsers == null)
{
<p>Loading...</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Gender</td>
            <td>Date of birth</td>
            <td>Last Active</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var usr in AllUsers)
        {
            @foreach (var rl in AllRoles)
            {
        <tr>
            <td>@usr.ID</td>
            <td>@usr.FirstName</td>
            <td>@usr.LastName</td>
            <td>@usr.Email</td>
            <td>@usr.Gender</td>
            <td>@usr.DateOfBirth.ToString("dd/MM/yyy")</td>
            <td>@usr.LastActive.ToString("dd/MM/yyy HH:mm:ss")</td>
            <td>@if (usr.RoleID == rl.ID) { rl.Name.ToString(); } else { <p>Error</p> }</td>

       </tr>
            }
        }B
    </tbody>
</table>
}

@code{
    private List<TimeSheetApp.Shared.Entities.User> AllUsers = new List<TimeSheetApp.Shared.Entities.User>();
    private List<Role> AllRoles = new List<Role>();

    protected override async Task OnInitializedAsync()
    {
        AllUsers = await Http.GetFromJsonAsync<List<TimeSheetApp.Shared.Entities.User>>("/api/User/GetAll");
        AllRoles = await Http.GetFromJsonAsync<List<Role>>("/api/Role/GetAll");
    }

    //private static IEnumerable<Role> RoleName(int roleID)
    //{

    //}


}